.div {
    background: #7AA5D2;
    padding: 10px 20px;
    display: block;
    margin: 10px;
  
}

.div1 {
	padding: 10px 20px;
}

.link{
 color: white;
 padding: 10px 20px;
}

.link:hover{
	color:black;
}

.link:active{
 background:grey;
}

#table {
    border-collapse: collapse;
}

#table td, #table th {
    border: 1px solid black;
    padding: 5px;
   
}

#table th {
    text-align: left;
    background-color: #7AA5D2;
    color: white;
}