<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

 <head>
        <title>Home page</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/SZMXphYEipbdr8zi/beautiful-clouds-close-up-weather-background_skp3rq4r__F0000.png">
		<h2>Weather API</h2>
        <div>
          <ul>
            <li>
              <a href="#" th:href="@{/product}">MONGO DATA</a>
            </li>
            <li>
              <a href="#" th:href="@{/weather}">WEATHER DATA</a>
            </li>
          </ul>
          
        </div>
     

        <form action="weather" method="post">

            <div>
                <label>Enter the city name to check the weather</label>    
                <input type="text" name="city">
            </div>


            <button type="submit">Submit</button>

        </form>
    </body>
</html>