<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>

  </head>
  <body background="https://cdn.shopify.com/s/files/1/0533/2089/files/5-websites-to-download-free-subtle-textures-subtle.jpg?5724472906039650661">
  <h2>Weather Api and MongoDB</h2>
      <div>
          <ul>
            <li>
              <a href="#" th:href="@{/product}">MONGO DATA</a>
            </li>
            <li>
              <a href="#" th:href="@{/weather}">WEATHER DATA</a>
            </li>
          </ul>
          
        </div>
     
  </body>
</html>