<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Mongo Data</title>
  	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body background="https://cdn.shopify.com/s/files/1/0533/2089/files/5-websites-to-download-free-subtle-textures-subtle.jpg?5724472906039650661">
	<h2>Data fetched from MongoDB</h2>
	<div class="div">
		<a  href="#" th:href="@{/product}" style="text-decoration: none"class="link">MONGO DATA</a>
        <a  href="#" th:href="@{/weather}" style="text-decoration: none"class="link">WEATHER DATA</a>
    </div>
    <div class="div1">
	   	 <table id="table" style="width:100%">
			<tr>
  				<th>Id</th>
    			<th>Product</th>
 		   		<th>Product Type</th> 
    			<th>Description</th>
  		  	</tr>
    
			<tr th:each="products,iterStat : ${mongoData}" >
				<td><span th:text="${products.id}"></span></td>
				<td><span th:text="${products.product}"></span></td>
				<td><span th:text="${products.productType}"></span></td>
				<td><span th:text="${products.description}"></span></td>		
			</tr>
		</table>
	</div>
</body>
</html>