<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Weather Data</title>
  	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/SZMXphYEipbdr8zi/beautiful-clouds-close-up-weather-background_skp3rq4r__F0000.png" >
	<h2>Weather Data</h2>
	<div class="div">
		<a  href="#" th:href="@{/product}" style="text-decoration: none"class="link">MONGO DATA</a> 
		<a  href="#" th:href="@{/weather}" style="text-decoration: none"class="link">WEATHER DATA</a>
	</div>
    
    <div class="div1">
		<table id="table" style="width:100%">
			<tr>
  				<th>City</th>
    			<th>Latitude</th>
    			<th>Longitude</th> 
    			<th>Weather</th> 
    		</tr>	
			<tr th:each="weather,iterStat : ${weatherData}" }>
				<td><span th:text="${weather.getName()}"></span></td>
				<td><span th:text="${weather.getLat()}"></span></td>
				<td><span th:text="${weather.getLon()}"></span></td>
				<td><span th:text="${weather.getWeatherDescription()}"></span></td>
			
			</tr>
		</table>
	</div> 
</body>
</html>